<%= render :partial => 'shared/left_nav' %>
<h4 class="content">Who to follow</h4>
<p class="content">Tweetful accounts in alpabetical order.</p>
<hr />
<ol class="list-unstyled">
  <% @users.each do |user| %>
    <li>
      <%= content_tag :strong, user.name %>
      <%= content_tag :span, "@"+user.username %>
      <%= follow_link(user) %>
    </li>
    <li><hr></li>
  <% end %>
</ol>